<h1>Hostel Alllocation Data</h1>

    <p>Please check the different hostels to see where your name falls</p>

<h2>Male Hostels</h2>
<p><strong>Jack Hall</strong</p>
<ol>
{{#each jackHall}}

    <li>{{ this.firstName }} {{ this.lastName}}</li>

{{/each}}

</ol>


<p><strong>Jumbo Hall</strong</p>
<ol>
{{#each jumboHall}}

    <li>{{ this.firstName }} {{ this.lastName}}</li>

{{/each}}

</ol>

<h2>Female Hostels</h2>
<p>The Catherines</p>
<ol>
{{#each theCatherines}}

    <li>{{ this.firstName }} {{ this.lastName}}</li>

{{/each}}

</ol>

<p>Queens Hall</p>
<ol>
{{#each queensHall}}

    <li>{{ this.firstName }} {{ this.lastName}}</li>

{{/each}}

</ol>



